.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 450px;
  margin: 0 auto;
  padding: 30px;
}

.list button {
  margin-left: 20px;
  position: relative;
}

.listBtn {
  position: absolute;
  right: -50px;
  padding: 5px;
  margin-bottom: 5px;
}
